body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px;
}

h1, h2 {
    color: white;
}

button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: black;
    color: white;
}

main {
    padding: 20px;
}

section {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

li:hover {
    background-color: #444;
}

.confirmAllButton, .rejectAllButton {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
}

.confirmAllButton:hover, .rejectAllButton:hover {
    background-color: white;
    color: black;
}
